@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%; /* 10px si la valeur de base est 16px */
  height: 100vh;
}

body {
  font-size: 1.6rem; /* 16px par défaut dans notre document */
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
}

main {
  height: 100vh;
}

body {
  background: url("../images/pattern-background-desktop.png") hsl(225deg, 100%, 94%) repeat-x;
}

main {
  display: flex;
}

.card {
  width: 30rem;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .card {
    width: 35rem;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 40rem;
  }
}
.card__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.card__title h1 {
  font-size: 2rem;
  margin: 10px;
  font-weight: 900;
}
.card__title p {
  text-align: center;
  color: hsl(224deg, 23%, 55%);
  font-weight: 300;
  line-height: 20px;
}
.card__btn {
  background-color: #1E1FCD;
  color: hsl(225deg, 100%, 94%);
  border-radius: 10px;
  width: 80%;
  border: none;
  padding: 10px;
  font-weight: 900;
  margin: 10px;
}
.card__link {
  color: hsl(224deg, 23%, 55%);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 10px;
}

.annual-plan {
  background-color: #f2f5ff;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin: 10px;
  font-size: 1.3rem;
}
.annual-plan__price {
  line-height: 18px;
}
.annual-plan__price span {
  font-weight: bold;
}
.annual-plan__price p {
  color: hsl(224deg, 23%, 55%);
}
.annual-plan__link {
  margin: 30px;
}

.attribution {
  font-size: 1.2rem;
  padding: 3px;
  text-align: center;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
