html {
    font-size: 62.5%; /* 10px si la valeur de base est 16px */
    height: 100vh;
}

body {
    font-size: 1.6rem; /* 16px par défaut dans notre document */
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;

}

main{
    height: 100vh;
}